.container {
  display: grid;
  grid-template-columns: 1fr 0;
  overflow: hidden;
  height: 100%;
  transition: grid-template-columns var(--transition);

  &.expanded {
    grid-template-columns: 1fr 300px;
  }
}

.list {
  padding: calc(#{var(--padding)} * 4) var(--padding) 0 var(--padding);
  text-align: center;
}

.toggleShowComplete {
  cursor: pointer;
  opacity: 0.5;
  margin-top: 10px;
  display: block;

  &:hover {
    opacity: 0.8;
  }
}
