
.item {
  border: 1px solid #b2b2b2;
  max-height: 45px;
  border-radius: var(--border-radius);
  min-width: 200px;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  [role='button'] {
    max-height: 45px;
  }

  &.active {
    margin: 5px 0;
    font-weight: bold;
  }


  transition: margin var(--transition);
}

.complete {
  text-decoration: line-through !important;

  &.opaqueComplete {
    opacity: 0.25;
  }
}

.active {



  border: 1px solid var(--primary) !important;
}
