.container {
  display: flex;
  gap: 3px;
  padding: 2px;
}

.color {
  width: 60px;
  height: 60px;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  line-height: 30px;
  border: 2px solid whitesmoke;
  cursor: pointer;
  border-radius: var(--border-radius);
  opacity: 0.7;

  &:hover, &.active {
    border-color: black;
    opacity: 1;
  }
}


