.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: calc(#{var(--padding)} * 4) var(--padding) var(--padding) var(--padding);

  a {
    text-decoration: none;
    color: inherit;
  }
}


.link {
  display: flex;
  justify-content: space-between;
  border: var(--border);
  padding: 10px;
  opacity: 0.6;
  cursor: pointer;
  border-radius: var(--border-radius);

  &:hover {
    opacity: 0.8;
  }
}

.left {
  display: flex;
  flex-direction: column;
}

.right {

}

.deleteIcon {
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}
