.header {
  height: 70px;
  border-bottom: 1px solid black;
  background: darkslategrey;
  font-size: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.title {
  font-size: 25px;
  font-weight: bolder;
  color: whitesmoke;
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  min-width: 30px;
}

.saveIcon {
  display: none;
}

.saveOK {
  display: block;
}
