.story-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    margin-bottom: 15px;
    width: 60%;
    background: white;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid;
}
